<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.5-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 184.7 MB/s eta 0:00:00
Downloading numpy-2.3.5-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 175.9 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.5 pandas-2.3.3 tzdata-2025.2

In [2]:
import pandas as pd

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. 
</p>

The functions below will download the dataset into your browser:

In [3]:
# Load the dataset directly from the URL
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [4]:
df = pd.read_csv(file_path)

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [5]:
## Write your code here
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [11]:
## Write your code here
print('Rows: ', df.shape[0])

Rows:  65457

Print the number of columns in the dataset.

In [12]:
## Write your code here
print('Columns: ', df.shape[1])

Columns:  114

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [18]:
## Write your code here
for col in df.columns:
    print( col, ':', df[col].dtype)

ResponseId : int64
MainBranch : object
Age : object
Employment : object
RemoteWork : object
Check : object
CodingActivities : object
EdLevel : object
LearnCode : object
LearnCodeOnline : object
TechDoc : object
YearsCode : object
YearsCodePro : object
DevType : object
OrgSize : object
PurchaseInfluence : object
BuyNewTool : object
BuildvsBuy : object
TechEndorse : object
Country : object
Currency : object
CompTotal : float64
LanguageHaveWorkedWith : object
LanguageWantToWorkWith : object
LanguageAdmired : object
DatabaseHaveWorkedWith : object
DatabaseWantToWorkWith : object
DatabaseAdmired : object
PlatformHaveWorkedWith : object
PlatformWantToWorkWith : object
PlatformAdmired : object
WebframeHaveWorkedWith : object
WebframeWantToWorkWith : object
WebframeAdmired : object
EmbeddedHaveWorkedWith : object
EmbeddedWantToWorkWith : object
EmbeddedAdmired : object
MiscTechHaveWorkedWith : object
MiscTechWantToWorkWith : object
MiscTechAdmired : object
ToolsTechHaveWorkedWith : object
ToolsTechWantToWorkWith : object
ToolsTechAdmired : object
NEWCollabToolsHaveWorkedWith : object
NEWCollabToolsWantToWorkWith : object
NEWCollabToolsAdmired : object
OpSysPersonal use : object
OpSysProfessional use : object
OfficeStackAsyncHaveWorkedWith : object
OfficeStackAsyncWantToWorkWith : object
OfficeStackAsyncAdmired : object
OfficeStackSyncHaveWorkedWith : object
OfficeStackSyncWantToWorkWith : object
OfficeStackSyncAdmired : object
AISearchDevHaveWorkedWith : object
AISearchDevWantToWorkWith : object
AISearchDevAdmired : object
NEWSOSites : object
SOVisitFreq : object
SOAccount : object
SOPartFreq : object
SOHow : object
SOComm : object
AISelect : object
AISent : object
AIBen : object
AIAcc : object
AIComplex : object
AIToolCurrently Using : object
AIToolInterested in Using : object
AIToolNot interested in Using : object
AINextMuch more integrated : object
AINextNo change : object
AINextMore integrated : object
AINextLess integrated : object
AINextMuch less integrated : object
AIThreat : object
AIEthics : object
AIChallenges : object
TBranch : object
ICorPM : object
WorkExp : float64
Knowledge_1 : object
Knowledge_2 : object
Knowledge_3 : object
Knowledge_4 : object
Knowledge_5 : object
Knowledge_6 : object
Knowledge_7 : object
Knowledge_8 : object
Knowledge_9 : object
Frequency_1 : object
Frequency_2 : object
Frequency_3 : object
TimeSearching : object
TimeAnswering : object
Frustration : object
ProfessionalTech : object
ProfessionalCloud : object
ProfessionalQuestion : object
Industry : object
JobSatPoints_1 : float64
JobSatPoints_4 : float64
JobSatPoints_5 : float64
JobSatPoints_6 : float64
JobSatPoints_7 : float64
JobSatPoints_8 : float64
JobSatPoints_9 : float64
JobSatPoints_10 : float64
JobSatPoints_11 : float64
SurveyLength : object
SurveyEase : object
ConvertedCompYearly : float64
JobSat : float64

Print the mean age of the survey participants.

In [39]:
## Write your code here
df_no_duplicates = df.drop_duplicates()
print("Original rows:", df.shape[0])
print("After removing duplicates:", df_no_duplicates.shape[0])

df_no_duplicates['Age'] = pd.to_numeric(df_no_duplicates['Age'], errors='coerce')
mean_age = df_no_duplicates['Age'].mean()

print("Mean Age (no duplicates):", mean_age)

Original rows: 65457
After removing duplicates: 65437
Mean Age (no duplicates): nan

/tmp/ipykernel_300/3194983480.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_duplicates['Age'] = pd.to_numeric(df_no_duplicates['Age'], errors='coerce')

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [31]:
## Write your code here
print('Number of unique contries: ',df['Country'].nunique())
print(df['Country'].unique())

Number of unique contries:  185
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Copyright ©  IBM Corporation. All rights reserved.